#container {
  width: 30em;
  margin: 0 auto;
  margin-top: 2em;
  text-align:center;
}
.title {
  text-align: center;
  margin-bottom: 1em;
}
.printer-table {
  width: 100%;
  background-color: white;
}
.printer-table-container {
  height: 25em;
  overflow: auto;
  margin-bottom: 3em;
}
.error-job {
  color: red;
}
